<footer class="container">
    <hr />
    <div class=row>
        <div class="col-sm-4 text-center-xs">
            @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="W7UN4FASRNTJL">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>*@
            <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
            <i class="fa fa-tablet fa-lg" aria-hidden="true"></i>
            <i class="fa fa-laptop fa-lg" aria-hidden="true"></i>
            <i class="fa fa-desktop fa-lg" aria-hidden="true"></i>
            <small><i class='fa fa-copyright'></i> 2016 ApiExpert.net</small>
        </div>
        <div class="col-sm-4 text-center hiddenPrint">
            <div class="text-primary">
                <span class="glyphicon glyphicon-thumbs-up text-success"></span>&nbsp;<span class="badge">0</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-thumbs-down text-danger"></span>&nbsp;<span class="badge">0</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="glyphicon glyphicon-comment text-info" data-toggle="modal" data-target="#modalComment"></span>&nbsp;<span class="badge">0</span>
            </div>
            @*<%--     <br />--%>
                <%--<div class='text-info hidden'><small>Screen width: <span id=dimensions></span></small></div>--%>
                <%--   <div></div>--%>*@
        </div>
        <div class="col-sm-4 text-right hidden-xs">

            <i class="fa fa-internet-explorer fa-lg" aria-hidden="true"></i>
            <i class="fa fa-chrome fa-lg" aria-hidden="true"></i>
            <i class="fa fa-firefox fa-lg" aria-hidden="true"></i>
            <i class="fa fa-safari fa-lg" aria-hidden="true"></i>
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i>
            <i class="fa fa-apple fa-lg" aria-hidden="true"></i>
            <i class="fa fa-android fa-lg" aria-hidden="true"></i>

            @*<a href="https://jquery.com/" target=_blank><asp:Image runat=server ImageUrl="~/Images/JQuery.jpg" ID="Image3" AlternateText="JQuery" Width="50px" Height="50px" /></a>&nbsp;
                <a href="http://www.w3.org/TR/html5/" target=_blank><i class='fa fa-html5 fa-2x'></i></a>&nbsp;
                <a href="http://getbootstrap.com/" target=_blank><asp:Image runat=server ImageUrl="~/Images/BootStrap.jpg" ID="Image4" AlternateText="Bootstrap" Width="50px" Height="50px" /></a>&nbsp;
                <a href="#" target=_blank class=hidden-sm><i class='fa fa-css3 fa-2x'></i></a>*@
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalComment" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comment</h4>
                </div>
                <div class="modal-body">
                    <div id="listOfComment"></div>
                    <textarea id="txtComment" class="form-control" placeholder="Enter Your Comment"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnDoneComment">Done</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" id="btnAddComment">Add</button>
                    <button type="button" class="btn btn-success" id="btnReplyComment" style="display:none">Reply</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalMap" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id='map-canvas'></div>
                </div>
            </div>
        </div>
    </div>
</footer>

