<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="DefaultEmail" value="Production2@apiexpert.net" />
    <add key="passPhrase" value="ssapiexpert" />
    <add key="BaseUrl" value="sshttp://localhost:2531" />
    <add key="ConnectionStringName" value="DevEStore" />
    <add key="SmtpHost" value="sslocalhost" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="vs:EnableBrowserLink" value="false"></add>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>