<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApiExpertConn" connectionString="Data Source=localhost;Initial Catalog=ApiExpertDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ApiExpertConn" connectionString="Data Source=localhost;Initial Catalog=ApiExpertDB;Integrated Security=false;User ID=wjkongDB;Password=Wj730615" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="20"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="Member">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>