<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="DefaultEmail" value="Product@apiexpert.net" />
    <add key="passPhrase" value="Product" />
    <add key="BaseUrl" value="sshttp://localhost:2531" />
    <add key="ConnectionStringName" value="DevEStore" />
    <add key="SmtpHost" value="sslocalhost" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="vs:EnableBrowserLink" value="false"></add>
  </appSettings>
</configuration>